#loginform{
    margin-top:150px;
}

#loginh4{
    color: rgba(0, 0, 0, 0.42);
}

*{
    font-family: Microsoft YaHei light;
}

.motto{
    font-size: 15px;
}

#admin_form{
    margin-top:80px;
}

/*表格宽度*/
.th-time{
    width: 8%;
}

.th-title{
    width: 30%;
}

/*.th-intro{*/
    /*width: 50%;*/
/*}*/

.th-cate{
    width: 7%;
}